@import "lib/normalize";

body {
    font-family: 'Merriweather', serif;
}

p {
    margin: 0 0 1em;
}

.content-main {
    padding: 0 1em;
}

/* Browse happy styles
   ========================================================================== */

.browsehappy {
    font-size: 90%;
    margin-bottom: 1em;
    background: #ccc;
    padding: 0.5em;
}
