/* ==========================================================================
   Variables
   ========================================================================== */

$font-size-base: 16px; // 1rem = 16px
$font-family-serif: "Georgia", serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
